html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  justify-content: center;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #2b3851;
  height: 240px;
}

.robot {
  top: 185px;
  position: relative;
  width: 320px;
}

.robot-body {
  position: absolute;
  width: 320px;
  bottom: 185px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 136px;
  bottom: 285px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  position: absolute;
  left: 160px;
  bottom: 237px;
}

.robot-head-left {
  position: absolute;
  right: 160px;
  bottom: 237px;
}

.robot:hover .robot-head-left {
  position: absolute;
  bottom: 275px;
  right: 190px;
}

.robot:hover .robot-head-right {
  position: absolute;
  bottom: 275px;
  left: 190px;
}

.robot:hover .robot-brain {
  position: absolute;
  left: 136px;
  bottom: 290px;
}
